<!doctype html>
<html lang="en">
  <head>
    <%- include('../views/partials/head'); %>
  </head>
<!-- Container -->

<body class="container-fluid min-vh-100 d-flex flex-column justify-content-between">
  
  <header class="row">
    <%- include('../views/partials/header'); %>

    <!-- BreadCrumb -->
    <nav class = "row col-12 px-3 py-2 m-0"  style=" background-color: #63B4B8;" aria-label="breadcrumb">
      <ol class="breadcrumb my-2">
        <li class="breadcrumb-item"><a href="../index" class="text-light">Pagina Inicial</a></li>
        <li class="breadcrumb-item text-light" aria-current="page"><a>Perfil de autor</a></li>
      </ol>
    </nav>

  </header>

  <!--Main-->
  <main class="row">
    <!-- Informacion de perfil -->
    <div class="container col-10 p-3 mx-auto">
      <div class="row">
        <div class="col-12 col-lg-6 text-center">
          <img width="200" height="200" alt ="imagen de perfil" src="../img/profilepicture.png">
          <h3> <%= autor.nombre %></h3>
        </div>
        <div class="col-12 col-lg-6 text-center">
          <p>
            <label for="username">Username:</label>
            <input type="text" id="username" value=" <%= autor.nombre %>" readonly/>
          </p>
          <p>
            <label for="email">Email:</label>
            <input type="text" id="email" value=" <%= autor.email %>" readonly/>
          </p>
        </div>
      </div>
      <br />
      <br />
      <br />
      <div class="row">
        <h3> Foros del autor </h3>
        <% for (let i = 0; i< foros.length && i<6; i++){ %>
        <article class="ms-3 card mx-auto my-4 col-6 col-lg-3 border-dark">
          <div class="card-body">
            <h5 class="card-title"> <%= foros[i].nombre %> </h5>
            <p class="card-text"> <%= foros[i].descripcion %>.</p>
            <a href="/foro/<%= foros[i].idForo %>" class="btn btn-primary">Ver contenido</a>
          </div>
        </article>
        <% }  %> 
      </div>
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
    </div>
  </main>

  <!-- Pie de pagina-->
  <footer class="row">
      <%- include('../views/partials/footer'); %> 
  </footer>
  <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

</body>

</html>