<!doctype html>
<html lang="en">

<head>
    <%- include('../views/partials/head'); %>
</head>
<!-- Container -->

<body class="container-fluid d-flex flex-column  min-vh-100">
    
    <!--Header-->
    <header class="row">

        <!--Navbar-->
        <%- include('../views/partials/navbar'); %>

        <!-- BreadCrumb -->
        <nav class="row col-12 px-3 py-2 m-0" style=" background-color: #0d6efd;" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item ps-1 text-light" aria-current="page"><a class="text-light" href="index">Pagina inicial</a></li>
                <li class="breadcrumb-item ps-1 text-light" aria-current="page"><a class="text-light" href="listaUsuarios.ejs">Lista de usuarios</a></li>
                <li class="breadcrumb-item ps-1 text-light" aria-current="page">Envío de mensaje</li>
            </ol>
        </nav>

    </header>
    <!-- Main -->
    <main class="row">
        <!-- Chat -->
        <section class="d-none d-sm-block col-sm-12 d-lg-block col-lg-12 p-0 m-0">
            <nav class="navbar navbar-expand-lg py-2 justify-content-start" style="background-color: #202124;">
                <img src="https://github.com/mdo.png" alt="" class="rounded-circle ms-4 border border-white" width="32"
                    height="32">
                <label class="ms-3" style="color: white;"><%=nombreReceptor[0].nombre%></label>
            </nav>
            <br />
            <%for(let i = 0; i < mensajes.length; i++) {
                if(mensajes[i].idUsuario != idUsuario) {

            %>
            <div class="toast show ms-3 border-dark" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header border-dark">
                    <strong class="me-auto"><%=mensajes[i].nombre%></strong>
                    <small class="text-muted"><%=mensajes[i].fechaEmision.toLocaleString()%></small>
                </div>
                <div class="toast-body">
                    <%=mensajes[i].contenido%>
                </div>
            </div>
            <br/>
            <% } else {%>
                <div class="row justify-content-end m-0 me-3">
                    <div class="toast show border-dark" role="alert" aria-live="assertive" aria-atomic="true"
                        style="background: #abfdab;">
                        <div class="toast-header border-dark" style="background: #abfdab;">
                            <strong class="me-auto"><%=mensajes[i].nombre%></strong>
                            <small class="text-muted"><%=mensajes[i].fechaEmision.toLocaleString()%></small>
                        </div>
                        <div class="toast-body">
                            <%=mensajes[i].contenido%>
                        </div>
                    </div>
                </div>
                <br />
            <% } %>
            <% }; %>
            <br />

            <!--Enviar Mensaje-->
            <form class="row mb-3 m-0 p-0">
                <div class="col-7 m-0 p-0">
                    <input class="form-control mx-4 border-dark" type="text" size="90%" name="mensaje" id="mensaje">
                </div>
                 <div class="col-1 m-0 p-0">
                </div>
                <div class="col-1 m-0 p-0">
                    <button class="form-control ms-6 btn btn-primary"><i class="bi bi-send"></i></button>
                </div>
            </form>

        </section>
    </main>

    <!-- Pie de pagina-->

    <footer class="row">
        <div class="py-4 d-flex" style="background-color: #202124;">
            <!-- d-flex fixed-bottom flex-wrap justify-content-between align-items-center py-3 border-top -->
            <ul class="nav justify-content-start col-6 col-md-4">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-light">Español</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-light">English</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-light">中文</a></li>
            </ul>

            <a
                class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none"></a>

            <ul class="nav justify-content-end col-6 col-md-4">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-light">Acerca de nosotros <i
                            class="bi bi-people"></i></a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-light">Ayuda <i
                            class="bi bi-patch-question"></i></a></i></li>
                <li class="p-2 text-light">© 2022, bocaillo.com</li>
            </ul>
        </div>
    </footer>

    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>