<!doctype html>
<html lang="en">
  <head>
    <%- include('../views/partials/head'); %>
  </head>
 
  <!-- Container -->
  <body class="container-fluid min-vh-100 d-flex flex-column justify-content-between">
    <header class="row">
      <!-- NavBar -->
      <%- include('../views/partials/navbar'); %>
    <!-- BreadCrumb -->
          <nav class = "row col-12 px-3 py-2 m-0"  style=" background-color: #0d6efd;" aria-label="breadcrumb">
              <ol class="breadcrumb"> 
                <li class="breadcrumb-item ps-1 text-white"><a class = "text-white" href="../index">Pagina inicial</a></li>
                <li class="breadcrumb-item ps-1 text-white" href="index">Crear Foro</li>
              </ol>
          </nav>

    </header>
    <!-- Main -->
  <main class="row">

    <!-- Crear Foro -->
    <article class="container col-12 p-3 mx-auto">
      <h2 class="text-center" id="labelCrearForo"> Crear foro </h2>
      
      <form class="text-center col-12" method="POST" action="/crearForo" accept-charset="UTF-8" id="formCrearForo">
        <input type="hidden" name="idUsuario" id="idUsuario" value="<%= usuario %>"/>
        <div class="form-group">
          <label for="nombreForo" class="form-label">Nombre foro (*)</label>
          <div class="input-group has-validation w-25 mx-auto">
            <input type="text" class="form-control" id="nombreForo" name="nombreForo" required>
            <div class="invalid-feedback">
              Nombre de foro requerido
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="descripcion" class="form-label">Descripción</label>
          <div class="input-group has-validation w-25 mx-auto">
            <textarea class ="form-control" name="descripcion" id="descripcion" rows="8"></textarea>
            <div class="invalid-feedback">
              Descripcion requerida.
            </div>
          </div>
        </div>

        <label for="categoria" class="form-label">Categoria (*)</label><br>
        <select name="categoria" id="categoria" style="background-color: #fff;">
          <% categorias.forEach((categoria)=>{ %>
              <option id="<%= categoria.idCategoria %>" name ="<%= categoria.nombre %>" value="<%= categoria.idCategoria%>"><%= categoria.nombre %></option>
          <% })  %>
        </select><br>
        <br>

         <!-- Button trigger modal -->
         
         <div class="d-grid gap-2 col-2 mx-auto">
          <button class="btn btn-md btn-success mt-4 p-3" type="submit" data-bs-toggle="modal" data-bs-target="#exampleModal">Crear</button>
          <button class="btn btn-secondary btn-md mt-3 p-3" type="button"><a class="nav-link text-white p-0" href="../index">Cancelar</a></button>
        </div>
      </form>

    </article>
    
  </main>

    
  <!-- Pie de pagina-->
  <%- include('../views/partials/footer'); %> 
    
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Informacion</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          El foro ha sido creado correctamente
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <a href="/ultimoForo">
              <button type="button" class="btn btn-primary">Ir al foro</button>
            </a>
        </div>
      </div>
    </div>
  </div>

</html>


