<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../views/partials/head'); %>
  </head>
  <!-- Container -->
  <body class="container-fluid min-vh-100 d-flex flex-column justify-content-between">
    
    
    <% if(!login){%>
       <a href="/">Por favor inicie sesion </a>  
    <% }else{ %>
 
    <!--Header-->
    <header class="row">

      <!--Navbar-->
      <%- include('../views/partials/navbar'); %>
    
    <!-- BreadCrumb -->
          <nav class = "row col-12 px-3 py-2 m-0"  style=" background-color: #0d6efd;" aria-label="breadcrumb">
              <ol class="breadcrumb"> 
                <li class="breadcrumb-item ps-1 text-white" aria-current="page"><a class="text-white" href="index">Pagina inicial</a></li>
                <li class="breadcrumb-item ps-1 text-white" aria-current="page"><a class="text-white" href="/vistaPerfil">Perfil</a></li>
                <li class="breadcrumb-item ps-1 text-white" aria-current="page">Editar perfil</li>
              </ol>
          </nav>

    </header>
    <!-- Main-->
    <main class="row">
        <!-- Editar Perfil -->
        <div class="container col-3 mx-auto">
  
        </div>
        <div class="container col-6 pt-3 mx-auto">
          <style>
              #section {
                  background-color: rgb(225, 225, 225);
                  border-radius: 25px;
              }
              h1 {
                text-align: center;
              }
          </style>
          <h1>Editar Perfil</h1>
          <form class="row mb-3 m-0 p-0"  action="/perfilEditado" method="POST">
            <section id="section">
              <p class="pt-4 px-3">
                <label for="nombre">Usuario: </label>
                <input type="text" class="form-control" id="nombre" name="nombre" value="<%=usuario[0].nombre%>">
              </p>
              <p class="pb-4 px-3">
                <label for="email">Email: </label>
                <input type="text" class="form-control" id="email" name="email" value="<%=usuario[0].email%>">
              </p>
              <input type="hidden" name="contrasenya" value="<%=usuario[0].contrasenya%>">
            </section>
            <style>
              #buttons {
                  float:right;
              }
            </style>
            <table>
              <tr>
                <th class="col-4">
                  <button class="w-40 btn btn-md mb-3 mt-3 btn-secondary"><a href="/vistaPerfil" class="text-white" style="text-decoration: none;">Cancelar</a></button>
                </th>
                <th class="d-grid gap-2 col-5 mx-auto">
                  <button class="w-40 btn btn-md mt-3 btn-danger pb-2" data-bs-toggle="modal" data-bs-target="#deleteAccount"
                  type="submit"> <label class="nav-link text-white p-0" id="deleteaccountbtn">Borrar Cuenta</label> </button>
                </th>
                <th>
                  <div id="buttons">
                    <button class="form-control btn btn-md mt-1 btn-primary"><i class="bi bi-send">Actualizar</i></button>
                  </div>
                </th>
              </tr>
            </table>
          </form>
          
        </div>
        <div class="container col-3 mx-auto">
  
        </div>
      </main>

    
  <!-- Pie de pagina-->
  <%- include('../views/partials/footer'); %>
  <% } %>
  <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Modal -->
    <div class="modal fade" id="deleteAccount" tabindex="-1" aria-labelledby="deleteAccountLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteAccountLabel">Información</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ¿Seguro que quieres borrar tu cuenta?
        </div>
        <div class="modal-footer">

          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <form action="../borrarUsuario">
            <button type="submit" class="btn btn-danger">Borrar Cuenta</button>
          </form>

        </div>
      </div>
    </div>
  </div>
  </body>
</html>