<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link rel="stylesheet" href="../css/foro-view.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Bocaillo</title>
</head>

<!-- Container -->

<body class="container-fluid min-vh-100 d-flex flex-column justify-content-between">
  <header class="row">
    <!-- NavBar -->
    <nav class="col-12 navbar navbar-expand-lg navbar-dark py-2" style="background-color: #664E88;">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <h1 class="navbar-brand"><a class="text-decoration-none text-light" href="../index">Bocaillo</a></h1>
      <a class="navbar-brand" href="../index">
        <img alt="Brand" width="35" height="35" src="../img/bocaillo.png">
      </a>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto ms-2 mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Categorias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Trending</a>
          </li>
        </ul>
        <section class="row col-12 mx-0 col-lg-6 justify-content-end align-items-center">
          <!--Perfil-->
          <div class="dropdown ms-3 col-4">
            <a href="#" class="d-flex align-items-center link-light text-decoration-none dropdown-toggle fs-5"
              id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-circle"></i>
              <strong class="text-light">&ensp;<%=nombreUsuario%></strong>
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
              <li><a class="dropdown-item" href="#">Ajustes</a></li>
              <li><a class="dropdown-item" href="#">Perfil</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Cerrar sesion</a></li>
            </ul>
          </div>
        </section>
      </div>
    </nav>

    <!-- BreadCrumb -->
    <nav class="row col-12 px-3 py-2 m-0" style=" background-color: #63B4B8;" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item ps-1 text-light"><a class="text-light" href="../index">Pagina inicial</a></li>
        <li class="breadcrumb-item ps-1 text-light">
          <%= foro.Nombre %>
        </li>
      </ol>
    </nav>
  </header>
  <!-- Main -->
  <main class="row">
    <!-- Foro -->
    <section>
      <h2 class="text-center mt-3 mb-3">
        <%= foro.Nombre %>
      </h2>
      <!--Enviar Mensaje-->
      <div class="row justify-content-center  sticky-top foro-view-container-comentario">
        <form class="border border-dark " action="/enviarMensajeForo" method="POST">
          <input type="hidden" name="id" value="<%=foro.idForo %>">
          <div class="row  bg-light">
            <br />
            <p class="">Comenta en el foro</p>
            <textarea class="" id="forumMessageSubmit" rows="3" cols="120" name="contenido" required></textarea>

            <input class="btn btn-primary" id="submitButton" type="submit" value="Publicar">
          </div>
        </form>
      </div>

      <div class="foro-view-container">

        <% mensajes.forEach((mensaje)=>{%>
          <% let fecha=new Date(mensaje.fechaEmision); year=fecha.getFullYear(); month=fecha.getMonth()+1;
            dt=fecha.getDate(); h=fecha.getHours(); min=fecha.getMinutes(); s=fecha.getSeconds(); if (dt < 10) { dt='0'
            + dt; } if (s < 10) { s='0' + s; } if (h < 10) { h='0' + h; } if (min < 10) { min='0' + min; } if (month <
            10) { month='0' + month; } let fechaEmision=dt+"/"+month+"/"+year+" "+h+" :"+min+":"+s; %>


            <div class="foro-view-outer" role="alert" aria-live="assertive" aria-atomic="true">
              <div class="foro-view-mensaje">

                <div class="toast-header border-dark">
                  <i class="bi bi-person-circle me-2"></i>
                  <strong class="me-auto">
                    <%=mensaje.usuario%>
                  </strong>
                  <small class="text-muted foro-view-margin-right-8px ">
                    <%=fechaEmision%>
                  </small>
                  <%if (mensaje.emisor==idUsuario ){ %>

                    <form action="/deleteMensajeForo/<%= mensaje.idMensaje_foro%>" method="POST">
                      <input type="hidden" name="idForo" value="<%=foro.idForo %>">
                      <button type="submit" class="btn btn-danger btn-sm  " aria-label="Close">
                        <i class="fa fa-close"></i>
                      </button>
                      <% } %>
                    </form>

                </div>
                <div class="toast-body">
                  <%=mensaje.contenido%>
                </div>
              </div>

            </div>

            <br />
            <%});%>
      </div>

    </section>
  </main>

  <!-- Pie de pagina-->


  <div class="row">
    <footer class="py-4 d-flex footer" style="background-color: #664E88;">
      <%if(mensajes.length < 2){%> position:fixed; bottom:0;<%}%>

          <!-- d-flex fixed-bottom flex-wrap justify-content-between align-items-center py-3 border-top -->
          <ul class="nav justify-content-start">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-light">Español</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-light">English</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-light">中文</a></li>
          </ul>

          <a
            class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none"></a>

          <ul class="nav justify-content-end">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-light">Acerca de nosotros <i
                  class="bi bi-people"></i></a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-light">Ayuda <i
                  class="bi bi-patch-question"></i></a></i></li>
            <li class="p-2 text-light">© 2022, bocaillo.com</li>
          </ul>

    </footer>
  </div>
  <script>
    // Get the input field
    var input = document.getElementById("forumMessageSubmit");

    // Execute a function when the user presses a key on the keyboard
    input.addEventListener("keypress", function (event) {
      // If the user presses the "Enter" key on the keyboard
      if (event.key === "Enter") {
        // Cancel the default action, if needed
        event.preventDefault();
        // Trigger the button element with a click
        document.getElementById("submitButton").click();
      }
    });

    // window.scrollTo(0,document.body.scrollHeight);
    window.scrollTo({ left: 0, top: document.body.scrollHeight, behavior: "instant" });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>