<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../views/partials/head'); %>
  </head>
  <!-- Container -->
  <body class="container-fluid min-vh-100 d-flex flex-column justify-content-between">
    
    
    <% if(!login){%>
       <a href="/">Por favor inicie sesion </a>  
    <% }else{ %>
 
    <!--Header-->
    <header class="row">

      <!--Navbar-->
      <%- include('../views/partials/navbar'); %>
    
    <!-- BreadCrumb -->
          <nav class = "row col-12 px-3 py-2 m-0"  style=" background-color: #0d6efd;" aria-label="breadcrumb">
              <ol class="breadcrumb"> 
                <li class="breadcrumb-item ps-1 text-light" aria-current="page">Pagina inicial</li>
              </ol>
          </nav>

    </header>
    <!-- Main-->
    <main class="row ">
      <!-- Foros -->
    <section class = "row col-12 col-lg-6 mb-auto mx-auto">
      <!--Buscador-->

      <div style="display:flex; flex-direction: row; justify-content: space-evenly; ">
        <h2> Buscador </h2>
      </div>

      <div style="display:flex; flex-direction: row; justify-content: space-evenly;">
        <form action="/buscarForo" method="post" class="mx-3 d-flex my-4 col-6">
          <input class="form-control me-2 border-dark" type="search" name="busquedaClave" size="4" maxlength="50"
            title="BarraDeBusqueda">
          <input class="btn" style=" background-color: #bec0c3;" type="submit" value="Buscar" title="Buscar">
        </form>
      </div>

      <% for (let i = 0; i< foros.length && i<6; i++){%>
      <article class="card mx-auto my-4 col-12 col-lg-5 border-dark">
        <div class="card-body">
          <h5 class="card-title"> <a href="/foro/<%=foros[i].idForo %>" class="nav-link text-black"><%= foros[i].nombreForo%></a></h5>
          <h6 class="card-subtitle mx-3 text-muted">Categoria: <%= foros[i].nombreCategoria %></h6>
          <a class="nav-link card-text text-black" href="/foro/<%=foros[i].idForo %>"><p><%= foros[i].Descripcion%></p></a>
          <a href="/foro/<%=foros[i].idForo %>" class="btn btn-primary">Ver contenido</a>
        </div>
      </article>
      <%};%>
    </section>
   <!-- Barra lateral derecha -->
  <section class = "col-lg-4 m-0 order-lg-last order-first">
    <div class="row p-2 m-2 justify-content-center ">
      
      <button class="d-flex flex-column align-items-center btn-secondary rounded-pill mx-auto col-4 border-0" style="width:22%;">
        <a class="text-white" href="/createForo"><i class="bi bi-layout-text-sidebar-reverse"></i></a>
        <a class="nav-link text-white" href="/createForo">Nuevo<br>Foro</a>
      </button>
  
      <button class="d-flex flex-column align-items-center btn-secondary rounded-pill mx-auto col-4 border-0" style="width:22%;">
        <a class="text-white" href="listaUsuarios"><i class="bi bi-chat-dots"></i></a>
        <a class="nav-link text-white" href="listaUsuarios">Mensaje<br>Privado</a>
      </button>

    </div>
    <!-- Top autores -->
    <div class="row justify-content-center">
      <article class="row justify-content-center d-none d-lg-block bg-secondary m-2 p-2 col-8">
        <h2 class = "text-white">Top Autores</h2>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <% for(let i = 0; i<autores.length && i<6;i++){ %>

            <li class="nav-item text-light">
              <%= i+1%>. <%= autores[i].nombre %> &nbsp
              <a href="/perfilAutor/<%= autores[i].idUsuario %>" class="text-white">
                Ver perfil
              </a>
            </li>

          <% } %> 
        </ul>
      </article>
    </div>
  </section>
</main>

    
  <!-- Pie de pagina-->
  <%- include('../views/partials/footer'); %>
  <% } %>
  <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  
  </body>
</html>