<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Bootstrap CSS -->
    <link href="./css/style.css" rel="stylesheet" />


    <title>Bocaillo</title>
  </head>
  <!-- Container -->
  <body class="container-fluid min-vh-100 d-flex flex-column justify-content-between">
    
    <!--Header-->
    <header class="row">

      <!--Navbar-->
        <%- include('../views/partials/navbar'); %>
      <!-- BreadCrumb -->
        <nav class = "row col-12 px-3 py-2 m-0"  style=" background-color: #0d6efd;" aria-label="breadcrumb">
           <ol class="breadcrumb"> 
              <li class="breadcrumb-item ps-1" aria-current="page" style="color:#fff;">Iniciar Sesi칩n</li>
            </ol>
        </nav>

    </header>

    <!-- Main-->
    <main class="row">
   
      <!-- Login -->
      <div class="container col-5 p-3 mx-auto">
        <h2 class="text-center" id="labelIniciarSesion"> Iniciar Sesion</h2>
        <div class="text-center">
          <img class="my-3 mx-auto img-fluid" src="img/grupo.png" id="iconoGrupo" alt="iconoGrupo" height="256">
        </div>

        <form class="text-center needs-validation" method="POST" action="/loginform" novalidate>
  
          <div class="col-12">
            <label for="usuario" class="form-label">Usuario</label>
            <div class="input-group has-validation w-50 mx-auto">
              <input type="text" name="usuario" class="form-control" id="usuario" required>
              <div class="invalid-feedback">
                
              </div>
            </div>
          </div>
  
          <div class="col-12">
            <label for="password" class="form-label">Contrase침a </label>
            <div class="input-group has-validation w-50 mx-auto">
              <input type="password" name="password" class="form-control" id="password" required>
              <div class="invalid-feedback">
                Introduzca una contrase침a
              </div>
            </div>
          </div>
          </br>

          <button class="w-50 btn btn-md btn-primary" type="submit">Iniciar Sesi칩n</button>    
          <button class="w-50 btn btn-md btn-secondary mt-3 mb-5" type="submit"> <a href="register" class="text-white" style="text-decoration: none;"> Registro</a></button>

        </form>
  
      </div>
    </section>
  </main>
    
  <!-- Pie de pagina-->
    <%- include('../views/partials/footer'); %> 
    
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Alertas del login -->
    <%if(typeof alert != "undefined"){ %>
        <script>
          Swal.fire({
            title: '<%= alertTitle %>',
            text: '<%= alertMessage %>',
            icon: '<%= alertIcon %>',
            showConfirmButton: '<%= showConfirmButton %>',
          }).then(()=>{
            window.location='/<%= ruta %>'
          })
        </script>
        <%
      }
    %>
    <!--Example starter JavaScript for disabling form submissions if there are invalid fields -->
    <script>
      (function () {
      'use strict'

      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.querySelectorAll('.needs-validation')

      // Loop over them and prevent submission
      Array.prototype.slice.call(forms)
        .forEach(function (form) {
          form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
              event.preventDefault()
              event.stopPropagation()
            }

            form.classList.add('was-validated')
          }, false)
        })
    })()
    </script>

  </body>
</html>